<div *ngIf="!data || data.length == 0">
  No elements found, add something now!
  <a class="btn btn-primary" routerLink="{{formUrl}}"><i class="material-icons">add</i></a>
</div>
<div *ngIf="data && data.length > 0" align="center">
  <div class="form-group float-label-control">
    <input #search [(ngModel)]="searchText" style="width: 15%"
           placeholder="Search">
    <select [(ngModel)]="field" style="width: 15%">
      <option selected="selected" value='All'>All</option>
      <option *ngFor="let h of headers" value="{{h.fieldName}}">{{h.label}}</option>
    </select>
    <div *ngIf="search.value">
      Text to match: {{searchText}}
      <br>
      <button (click)="searchText = ''" class="btn button-default">Clear</button>
    </div>
  </div>
</div>

<div *ngIf="data && data.length > 0">
  <table class="table table-striped" align="center" style="width: 75%">
    <thead class="thead-dark">
    <tr>
      <th *ngFor="let col of headers" (click)="onSelect(col.fieldName)">
        {{col.label}}
        <i *ngIf="col.fieldName === selectedHeader" class="material-icons ">
          {{sortIcon}}
        </i>
        <i *ngIf="col.fieldName !== selectedHeader" class="material-icons ">
          unfold_more
        </i>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let row of data | filter: searchText : field | paginate: { itemsPerPage: numOfElement, currentPage: p }">
      <td *ngFor="let col of headers">
          <span>
            {{getRowParameter(col, row)}}
          </span>
      </td>
      <td>
        <button class="btn btn-default" *ngFor="let act of actions"
                (click)="actionFunc(act, row)"><i class="material-icons">{{act.label}}</i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <ul class="flex-container">
    <li>
      Element to display:
      <select [(ngModel)]="numOfElement" style="height: 25px">
        <option *ngFor="let num of elementToDisplay">{{num}}</option>
      </select>
    </li>
    <li>
      <pagination-controls (pageChange)="p = $event"
                           [nextLabel]="'Next'"
                           [previousLabel]="'Previous'"
      ></pagination-controls>
    </li>
    <li>
      <a class="btn btn-primary" routerLink="{{formUrl}}"><i class="material-icons">add</i></a>
    </li>
  </ul>
</div>
