
backend/.mvn/wrapper/

.DS_Store

Diagrammi/Brew Day!.vpp.bak_000f

backend/.idea/

backend/target/

backend/backend.iml

/backend/brewday.iml

/.idea/
/backend/src/debug.log
/backend/src/src.und/id.txt
/backend/src/src.und/codecheck/ignores.json
/backend/src/src.und/settings.xml
/maximizebrewtoday/.idea/maximizebrewtoday.iml
/maximizebrewtoday/.idea/misc.xml
/maximizebrewtoday/.idea/modules.xml
/maximizebrewtoday/.idea/inspectionProfiles/profiles_settings.xml
/maximizebrewtoday/.idea/vcs.xml
/brewtodaymaximize/.idea/workspace.xml
