<div class="container">
  <div>
    <button (click)="edit()" class="btn btn-default"><i class="material-icons">edit</i></button>
    <h1>Personal info</h1>
    <form #BrewerForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="username">Username</label>
        <input [value]="brewer.username" class="form-control" disabled id="username" name="username" type="text">
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="brewer.name" [disabled]="!isEdit" class="form-control"
               id="name"
               name="name"
               required
               type="text">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          The name is required
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input #email="ngModel" [(ngModel)]="brewer.email" [disabled]="!isEdit"
               class="form-control"
               id="email" name="email"
               required
               type="email">
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          The email is required
        </div>
      </div>

      <div class="form-group">
        <label for="maxBrew">Max Brew</label>
        <input #maxBrew="ngModel" [(ngModel)]="brewer.maxBrew" [disabled]="!isEdit"
               class="form-control"
               id="maxBrew" name="maxBrew"
               required
               type="number">
        <div [hidden]="maxBrew.valid || maxBrew.pristine"
             class="alert alert-danger">
          The max brew is required
        </div>
      </div>

      <button [disabled]="!BrewerForm.form.valid" class="btn btn-success" style="margin-left: 4px"
              type="submit">Save
      </button>


    </form>
    <button (click)="delete()" class="btn btn-danger">Delete myself</button>
    <button (click)="goBack()" class="btn btn-primary">Go back</button>
  </div>
</div>
