<div class="container">
  <div>
    <h1 *ngIf="!isEdit">Create new Recipe</h1>
    <h1 *ngIf="isEdit">Edit Recipe</h1>
      <div class="form-group">
        <label for="name">Recipe name</label>
        <input type="text" class="form-control" id="name" name="name"
               required
               [(ngModel)]="recipe.name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          The recipe name is required
        </div>
      </div>

      <div class="form-group">
        <label for="description">Recipe description</label>
        <textarea #description="ngModel" [(ngModel)]="recipe.description"
                  class="form-control"
                  id="description" name="description"
                  required></textarea>
        <div [hidden]="description.valid || description.pristine"
             class="alert alert-danger">
          Recipe description is required
        </div>
      </div>

    <div class="form-group">
      <label for="shared">Public</label>
      <input [(ngModel)]="recipe.shared" class="form-control" name="shared" type="hidden"
             value="false"/>
      <input [(ngModel)]="recipe.shared" checked class="form-control" id="shared" name="shared" type="checkbox"
             value="true">
    </div>

    <div class="form-group">

      <label for="ingredient">Ingredients:</label>

      <div *ngIf="recipeIngredients.length === 0">
        This recipe has no ingredient.
      </div>
      <div *ngFor="let ri of recipeIngredients">
        {{getIngredientName(ri.ingredientId)}}: {{ri.quantity}}
        <button (click)="removeIngredient(ri)" class="btn btn-default"><i class="material-icons">close</i></button>
      </div>

      <br>
      Add a new ingredient:
      <select [(ngModel)]="recipeIngredient.ingredientId" class="form-control" id="ingredient" name="ingredient">
        <option *ngFor="let ingredient of ingredients" [value]="ingredient.ingredientId">{{ingredient.name}}</option>
      </select>
      <label>
        Quantity:
        <input [(ngModel)]="recipeIngredient.quantity" type="number">
      </label>
      <button (click)="addIngredient()" class="btn btn-default"><i class="material-icons">add</i></button>
    </div>

    <button (click)="onSubmit()" class="btn btn-success"
            style="margin-left: 4px">Save
    </button>
    <button class="btn btn-primary" (click)="goBack()">Go back</button>
  </div>
</div>
