<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!brewToday && !loading">
  There is no recipe you can brew.
  Add a recipe now!
  <a class="btn btn-primary" routerLink="/createRecipe"><i class="material-icons">add</i></a>
</div>
<div *ngIf="brewToday && !loading" class="container">
  <div>
    <h1>Today's Brew</h1>
    <form (ngSubmit)="onSubmit()" #BrewTodayForm="ngForm">
      <div class="form-group">

        <label class="form-control-lg" id="name">{{brewToday.recipeName}}</label>
        <br>
        <label class="form-control-lg" id="description">{{brewToday.recipeDescription}}</label>
        <br>
        <ul class="form-control-lg" name="ingredient" id="ingredient">
          <li *ngFor='let in of brewToday.ingredientQuantities ;let i = index'>
            {{brewToday.ingredientQuantities[i].ingredientName}} = {{brewToday.ingredientQuantities[i].quantity}} </li>
        </ul>
        <br *ngFor='let in of brewToday.ingredientQuantities'>
      <button type="submit" class="btn btn-success" [disabled]="!BrewTodayForm.form.valid"
              style="margin-left: 4px">Brew!
      </button>
      </div>
    </form>
  </div>
</div>
