<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!brewToday && !loading">
  There is no recipe you can brew.
  Add a recipe now!
  <a class="btn btn-primary" routerLink="/recipeForm"><i class="material-icons">add</i></a>
</div>
<div *ngIf="brewToday && !loading" class="container">
  <h1>Today's Brew</h1>
  <h3>{{brewToday.recipeName}}</h3>
  <br>
  <h5>{{brewToday.recipeDescription}}</h5>
  <br>
  <ul name="ingredient" id="ingredient">
    <li *ngFor='let ing of brewToday.ingredientQuantities ;let i = index'>
      {{brewToday.ingredientQuantities[i].ingredientName}} = {{brewToday.ingredientQuantities[i].quantity}} </li>
  </ul>
  <br *ngFor='let ing of brewToday.ingredientQuantities'>
  <p>Today's brew will produce {{brewQuantity/1000 | number}} L of beer! </p>
  <button (click)="brew()" class="btn btn-success"
          style="margin-left: 4px">Brew!
  </button>
</div>
